<!DOCTYPE html>
<html>
  <head>
    <title>Testsubscriber</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to image_tag('halloween.jpg', width: 75), root_path %>
    <%= link_to 'Регистрация', registration_path %>
    <%= yield %>
  </body>
</html>
